@use "scss" as *;

.gird-layout {
    padding: 16px 0;
    &__container {
        width: 1200px;
        margin: 0 auto;
        padding: 0 30px;
        &-content {
            display: flex;
            flex-direction: row;
            background-color: $color-background;
        }
    }
}
.p-lr-14 {
    padding-left: 14px;
    padding-right: 14px;
}
.content-col-1,
.content-col-2 {
    padding: 32px;
    width: 50%;
}
.content-col-1 > h1 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 0;
}
.content-col-1 > h1 > a {
    font-size: 14px;
    font-weight: 400;
    color: $color-text-link;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.content-col-1 > h1 > span {
    font-size: 14px;
    font-weight: 400;
}
.content-col-1 > p {
    font-size: 18px;
    color: $color-text-link;
    margin: 0;
}
.content-col-2 > form {
    display: flex;
    flex-direction: row;
}
.form-subs__btn {
    display: inline-block;
    background-color: $color-hover;
    color: white;
    text-align: center;
    font-weight: 500;
    padding: 16px 32px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    text-decoration: none;
    border-style: none;

    &:hover {
        background-color: $color-background-hover;
        color: white;
    }

    &:focus {
        outline: 2px solid $color-hover !important;
        outline-offset: 2px;
    }
}
.br-rt-rb-0 {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.b-r-0 {
    border-right: 0;
}
