@use "../../scss/" as *;

.cardpost__gird {
    &-container {
        width: 1200px;
        margin: 0 auto;
        padding: 0 16px;
    }
}
.cardpost-header {
    padding: 0 16px;
    &__title {
        font-size: 24px;
        margin: 0;
    }
    &__info {
        @include flex(unset, space-between);
    }
}
.cardpost-content {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    &__item {
        padding: 0 14px;
        width: 33.33%;
        display: flex;
        margin-bottom: 32px;
    }
}
.content-item-link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    // margin-bottom: 32px;
    background-color: #fafafa;
    text-decoration: none;
    color: $color-text;
}
.content-item-link:hover .content-item-text__title {
    text-decoration: underline;
    text-underline-offset: 4px;
}
.content-item-text {
    padding: 40px 32px;
    &__title {
        font-size: 20px;
        font-weight: 600;
    }
    &__content {
        font-size: 14px;
        color: $color-text;
    }
    &__time {
        color: #525252;
        font-size: 12px;
        font-weight: 500;
    }
}
.content-item-img {
    position: relative;
    width: 100%;
    padding-bottom: 56%;
    &-source {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        object-position: top;
    }
}
.info {
    font-size: 18px;
    color: $color-text-link;
    &-link {
        text-decoration: underline;
        text-underline-offset: 4px;
        color: $color-text;
    }
}
