@use "../../scss/" as *;

.showcase__text-secondary {
    @include flex(unset, space-between);
    width: 100%;
}
.p-lr-14 {
    padding: 0 14px;
}
.text-secondary {
    font-size: 18px;
    &-link {
        text-decoration: underline;
        text-underline-offset: 4px;
        color: $color-text;
    }
}
.showcase-template {
    padding: 0 16px;
    margin-bottom: 32px;
    width: 100%/3;
    &__item {
        width: 100%;
        display: block;
        background-color: #FAFAFA;
        border-radius: 2px;
        border: 1px solid #FAFAFA;
    }
}
.theme-lastest {
    font-size: 24px;
}
.mb-0 {
    margin-bottom: 0;
}
.template-item {
    width: 354px;
    height: 265px;
}
