.logobrand {
    padding: 40px 0;
    &__col {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        filter: grayscale(1);
        &:hover {
            filter: grayscale(0);
            cursor: pointer;
        }
    }
    &__item {
        list-style-type: none;
        &-logo {
            width: 96px;
            height: 96px;
        }
    }
    &__content {
        margin: 0 auto;
        max-width: 1200px;
    }
}
