@use "../../scss/" as *;

.footer__gird {
    padding-top: 64px;
}
.footer-container-sosial,
.footer-container-copyright {
    width: 1200px;
    margin: 0 auto;
    padding: 30px;
}
.footer-container-sosial {
    display: flex;
}
.sosial-col-1,
.sosial-col-2,
.sosial-col-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 33.33%;
    padding-bottom: 32px;
}
.footer-sosial-link {
    color: $color-text-link;
    width: 100%;
    display: block;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
.footer-sosial-link,
.faq,
.terms {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: $color-text-link;
}
.terms {
    padding-left: 10px;
}
.faq,
.terms {
    font-size: 14px;
}
.footer-copy {
    padding: 14px 0;
    border-top: 1px solid #e5e5e5;
}
.footer-content {
    display: flex;
    justify-content: space-between;
}
// .footer-copy,
// .footer-copy-link {
//     padding: 0 14px;
// }
.footer-copy-text {
    color: $color-text-link;
    font-size: 14px;
    margin: 0;
}
.form-subs__input {
    padding: 16px 20px;
    width: 100%;
    border: 1px solid $color-border;
    border-radius: 3px;
}
