@use "../../scss/" as *;

.box {
    // padding: 14px 0;
    &-header {
        width: 1200px;
        margin: 0 auto;
        padding: 0 14px;
        &__title {
            font-size: 24px;
            font-weight: 600;
            color: #333;
            padding: 0 14px;
            margin-bottom: 24px;
        }
    }
    &-body {
        width: 1200px;
        margin: 0 auto;
        padding: 0 14px;
        &__container {
            display: flex;
            flex-wrap: wrap;
            flex-grow: 3;
            &__card {
                padding: 0 16px;
                width: 33.33%;
            }
        }
    }
}
.card-item {
    &-link {
        display: block;
        width: 100%;
        text-decoration: none;
        color: $color-text;
        font-size: 18px;
        padding: 32px;
        text-align: center;
        margin-bottom: 32px;
        background-color: $color-background;
        &:hover {
            color: blue;
        }
    }
    &-version {
        font-size: 12px;
        color: $color-text-link;
        padding: 0 5px;
    }
}
