$padding-tb: 64px 0;

$width-container: 1200px;

$mobile-max-width: 600px;
$tablet-max-width: 1024px;

$color-text: #181818;
$color-hover: #001fff;
$color-text-link: #525252;

$color-border: #d2d2d7;
$color-border-radius: #525252;
$color-background: #fafafa;
$color-background-hover: #04c;
