@use "../../scss/" as *;

.background {
    &-title {
        font-size: 18px;
        font-weight: 600;
    }
    &-content {
        padding: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &-gird {
        width: 1200px;
        margin: 0 auto;
        display: flex;
        padding: 0 16px;
        &-image {
            padding: 0 16px;
        }
    }
    background-color: #fafafa;
    &-image {
        width: 357px;
        height: 255px;
    }
}
